File Operations

In [1]:
pwd

'/Users/Balaji/Sandbox/DataScience/Python/Inceptez_Python'

In [3]:
%%writefile test.txt
First
second
third

Writing test.txt

In [4]:
ls

07-Statements Assessment Test.ipynb
09-Objects and Data Structures Assessment Test.ipynb
Day 3.ipynb
Day1.ipynb
Day2.ipynb
numpy.pptx
test.txt

In [6]:
myfile=open('test.txt')

In [7]:
print(myfile)

<_io.TextIOWrapper name='test.txt' mode='r' encoding='UTF-8'>

In [8]:
myfile.read()

'First\nsecond\nthird'

In [12]:
myfile.seek(0)

0

In [10]:
myfile.read()

'First\nsecond\nthird'

In [13]:
myfile.readlines()

['First\n', 'second\n', 'third']

In [14]:
myfile.close()

In [23]:
with open('test.txt') as myfile:
    print(myfile.read())

First
second
thirdthis is a testlinethis is a testlinethis is a testline
 this is a testline

In [22]:
with open('test.txt',mode='a') as myfile:
        myfile.write('\n this is a testline')

Functions

In [32]:
def func(inp="rrrr"):
    print( inp)

In [33]:
func("hello")

hello

In [35]:
func()

rrrr

In [39]:
def add(a,b):
    '''
    doc string test add two var
    '''
    result=a+b
    return result

In [40]:
add(3,2)

5

In [42]:
add(3,2)

5

In [57]:
def abc(*args,**kwargs):
    result=sum(args)
    print (result)
    print(kwargs.items())

In [61]:
abc(1,2,3,fruit="test",fruit1="test1")

6
dict_items([('fruit', 'test'), ('fruit1', 'test1')])

In [62]:
my_list=[1,2,3,4]

Map functions

In [79]:
def myfunc(*args):
    return(args)

In [80]:
myfunc(1)

(1,)

In [81]:
list(map(myfunc,my_list))

[(1,), (2,), (3,), (4,)]

Filters

same as map but it filters the resut

LAMDA functions - used when it doesnt require a name (an anonymous function) and can be used for a single usage requirement

In [83]:
square=lambda nums:nums**2

In [86]:
square(100)

10000

Palindrome Check

In [201]:
def pal_check():
    a=input("Enter a name:")
    a1=a[::]
    a2=a[::-1]
    if (a1==a2):
        print("Palindrome")
    else:
        print("Not a palindrome")

In [202]:
pal_check()

Enter a name:qwwqerqwer
Not a palindrome

Prime Numbers

In [32]:
#Assignment 1
def prime_func():
    a=int(input("Enter a number:"))
    if (a==2 or a==3):
        print("Prime")
    elif (a%2==0 or a%3==0):
        print("Not a Prime")
    else:
        print("Prime")

In [36]:
prime_func()

Enter a number:3
Prime

Assignment 1: Prime number
Assignment 2: THiS iS a PythOn ClaAss -> change odd places to Caps and even places to lower case
Assigment  3: get n numbers for list and create a fibonnaci series of n elements
Assignment 4: [75,16,8,85,3,25,40,10] - get the list of largest 3 numbers without any inbuilt functions
Assignment 5: find the mode for the following [1,1,1,2,2,2,3,3,3,4,4,4,4,4,4,5,5,5] without any count function

In [ ]:
!python

Python 3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 12:04:33)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>>

In [126]:
#Assignment 2
def str_man():
    b=input("Enter the string:")
    i=list(range(0,len(b)))
    list1=[]
    for k in i:
        if (k%2==0):
            a1=b[k].lower()
            list1.append(a1)
        else:
            a1=b[k].upper()
            list1.append(a1)
    print(' '.join(map(str, list1)))

In [127]:
str_man()

Enter the string:THiS iS a PythOn ClaAss
t H i S   I s   a   p Y t H o N   C l A a S s

In [ ]:
prime_func()

In [198]:
#Fibonnaci series for n numbers
def fib_num():
    list2=[]
    list3=[]
    n=int(input("Enter the number:"))
    list2=list(range(0,n))
    for i in list2:
        if (i==0):
            g=0
            list3.append(g)
        elif (i==1 or i==2):
            g=1
            list3.append(g)
        else:
            g=list3[i-1]+list3[i-2]
            list3.append(g)    
    print(list3)
    # 0, 1, 1, 2, 3, 5, 8, 13, 21, 34

In [202]:
fib_num()

Enter the number:10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]